@page "/sponsorconfirmation/{sponsor:int}/"
@using Backend.Models;
@inject HttpClient Http
@using Microsoft.Extensions.Options;
@using Frontend.Data;
@inject IOptions<BackendDomain> config

<Header />

<!-- Main Container -->
<main>
    @if (Sponsor == null)
    {
        <h2>Loading ...</h2>
    }
    else
    {
        <div class="justify-content-center align-items-center bg-white">
            <div class="container-fluid">
                <div class="container text-center col-8">
                    <h2 class="text-center font-weight-normal dark-grey my-5">Thank you for your sponsorship!</h2>
                    <p class="h4 font-weight-normal text-center dark-grey">
                        Thank you for sponsoring a runner in
                        Marathon Skill 2015!
                    </p>
                    <p class="h4 font-weight-normal text-center dark-grey">
                        Your donation will help out their chosen
                        charity.
                    </p>
                </div>
                <div class="container text-center">
                    <h2 class="font-weight-normal my-5 text-dark">
                        @Sponsor.Registration.Runner.EmailNavigation.FirstName @Sponsor.Registration.Runner.EmailNavigation.LastName
                        (@Sponsor.Registration.RegistrationEvent.First().BibNumber) from @Sponsor.Registration.Runner.CountryCode</h2>
                    <h1 class="display-4 font-weight-normal dark-grey">@Sponsor.Registration.Charity.CharityName</h1>
                    <h1 class="display-1  font-weight-normal dark-grey">$@((int)Sponsor.Amount)</h1>
                    <a type="button" class="btn btn-lg btn-light mt-4" href="/">Back</a>
                </div>
            </div>
        </div>
    }
</main>
<!-- /Main Container -->

@code {


    public Sponsorship Sponsor { get; set; }
    [Parameter]
    public int sponsor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sponsor = await Http.GetJsonAsync<Sponsorship>($"{config.Value.Domain}/api/Sponsorships/{sponsor}/");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
